.MenuItem__menuItemContainer {
  width: 100%;
  height: 350px;
  border: 1px solid #d8d8d8;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.MenuItem__menuImageContainer {
  height: 60%;
  background-image: linear-gradient(to right top, #da7b55, #e18c5b, #e79e63, #edaf6c, #f2c078);
}

.MenuItem__menuImageContainer svg {
  fill: white;
  padding: 10px;
}

.MenuItem__menuItemName {
  font-size: 18px;
}

.MenuItem__menuItemNutrition {
  color:  #676767;
}

.MenuItem__menuItemFooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d8d8d8;
  padding-top: 10px;
}

.MenuItem__menuItemPreference {
  width: 32px;
  display: inline-block;
  margin-right: 12px;
  color: #e6e6e6;
  cursor: pointer;
  transition: color .25s;
}

.MenuItem__menuItemPreference svg {
  fill: currentColor;
}

.MenuItem__menuItemPreference:not(.MenuItem__menuItemPreference--active):hover {
  color: #b9b9b9;
}

.MenuItem__menuItemPreference--active {
  color: #da7b55;
}


.MenuItem__menuItemPreference--thumbsDown {
  transform: rotate(180deg);
}