.MenuTabs__container {
  display: flex;
  justify-content: center;
  user-select: none;
  margin-left: -15px;
}

.MenuTabs__tab {
  display: inline-block;
  font-size: 18px;
  width: 85px;
  padding: 15px 0px;
  text-align: center;
  cursor: pointer;
}

.MenuTabs__tab:nth-of-type(1) {
  position: relative;
}

.MenuTabs__tab:nth-of-type(1)::after {
  margin-top: 5px;
  height: 1px;
  display: block;
  width: 85px;
  /* CUSTOMIZE: primary color */
  background: #da7b55;
  content: '';
  position: absolute;
  left: 85px;
  transition: left .3s;
}

.MenuTabs__tab:nth-of-type(1).MenuTabs__tab--active::after {
  left: 0px;
}