.GoalNutritionBar__bar {
  position: fixed;
  
  width: 100%;

  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.62);
  background-color: white;
  z-index: 1;
  height: 50px;
  transition: height .3s;
  overflow: hidden;
}

.GoalNutritionBar__bar--large {
  height: 110px;
}

.GoalNutritionBar__row {
  display: flex;
  justify-content: center;
}

.GoalNutritionBar__row:last-of-type:not(:first-of-type) .GoalNutritionBar__rowContainer {
  border-top: 1px solid grey;
}

/*.GoalNutritionBar__row:nth-of-type(1) .GoalNutritionBar__rowContainer {
  border-bottom: 1px solid grey;
}*/

.GoalNutritionBar__row--clickable {
  cursor: pointer
}

.GoalNutritionBar__row--clickable:hover {
  /* CUSTOMIZE: temp hover color */
  background-color: #e6e6e6;
}

.GoalNutritionBar__row--clickable:active {
  /* CUSTOMIZE: temp active color */
  background-color: #b9b9b9;
}

.GoalNutritionBar__rowContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 7px 0px 7px 0px;
}

.GoalNutritionBar__rowSection {
  margin-left: 20px;
  font-weight: 400;
  text-align: center;
  /* CUSTOMIZE: light text color; */
  color: #585858;
  width: 70px;
  text-align: center;
}

.GoalNutritionBar__rowLabel {
  text-align: right;
  width: 145px;
}

.GoalNutritionBar__rowSectionLabel {
  display: none;
  font-size: 14px;
}

.GoalNutritionBar__row:last-of-type .GoalNutritionBar__rowSectionLabel {
  display: initial;
}

.GoalNutritionBar__closePopup {
  font-size: 21px;
  cursor: pointer;
  padding: 5px;
  display: inline;
  float: right;
  font-weight: bold;
  /* CUSTOMIZE: light text color; */
  color: #585858;
}

/* override popup library settings */
.GoalNutritionBar__nutritionPopup {
  width: 90vw !important;
  max-width: 750px;

  padding: 20px !important;
}

/* holds space 'under' the fixed topbar, so content
   is pushed down below the fixed topbar. Needs to match
   top bar height. */
.GoalNutritionBar__fixedSpacer {
  height: 50px;
  transition: height .3s;
}

.GoalNutritionBar__fixedSpacer--large {
  height: 110px;
}
