.NutritionPicker__closePopup {
  font-size: 21px;
  cursor: pointer;
  padding: 5px;
  display: inline;
  float: right;
  font-weight: bold;
  /* CUSTOMIZE: light text */
  color:  #676767;
}

.NutritionPicker__header {
  text-align: center;
  font-size: 32px;
  padding: 10px 0px;
  /* CUSTOMIZE: light text */
  color:  #676767;
}

/* Phone screen size styling */
@media screen and (max-width: 500px) {
  .NutritionPicker__header {
    padding-top: 30px;
  }
}
